.seccion-articulos{
    display: flex;
    padding: 10px 5px;
}

    .articulo{
        background: #3D84A8;
        box-shadow: 8px 8px 5px #2d6d8d;
        margin: 10px;
        padding: 5px;
        border-radius: 5px;
        color: #FCFFE7;
    }

    .contenedor-enlace{
        display: flex;
        flex-flow: column wrap;
        border-radius: 2px;
        background: #2d6d8d;
        align-items: center;
    }

    .enlace-color{
        color: #FCFFE7;
    }

    .enlace-texto{
        text-decoration: none;
    }

.imagen-curso{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}