.seccion-articulos{
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
}
.articulo{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: #3434 solid 1px;
    background: #F9F3EE;
    align-items: center;
}
img{
    border-radius: 5px;
}

.search-text{
    text-decoration: underline;
    margin: 10px 20px;
    padding: 5px;
    color: #AAAAAA;
}

a{
    text-decoration: none;
}

